<!DOCTYPE html>
<html>
  <head>
    <title>BudsList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
       <%= link_to 'All Delicious Buds', root_path %>
       <%= link_to 'Add a friend!', buds_new_path %>
    </nav>
    <%= yield %>
  </body>
</html>
